/* VARS */
:root {
  --back: #18191a;
  --back-two: #242526;
  --back-three: #3a3b3c;
  --white-font: #e4e6eb;
  --white-secondary: #b8bbbf;
  --blue: #2d88ff;
  --red: #c00209;
  --header-height: 56px;
  --small-img: 35px;
}

/* CSS RESET */
html,
body {
  height: 100%;
  background-color: var(--back);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  box-sizing: border-box;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: var(--back);
  color: var(--white-font);
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container-grid {
  display: grid;
  grid-template-columns: 0.5% 23.5% auto 23.5% 0.5%;
  grid-template-rows: auto;
  grid-template-areas:
    'nav nav nav nav nav'
    '. left mid right .';
}

.container-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-center-left {
  display: flex;
  align-items: center;
  justify-content: inherit;
}
/* ___________________________________________ */

/* AREAS */

#left-sidebar {
  width: 100%;
  height: calc(100vh - var(--header-height));
  grid-area: left;
  transition: all 0.3s;
}

#mid {
  grid-area: mid;
  height: 90vh;
  background-color: blue;
}
#right-sidebar {
  grid-area: right;
  height: calc(100vh - var(--header-height));
}

/* NAVBAR */
#navbar {
  grid-area: nav;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--back-two);
  height: var(--header-height);
  border-bottom: 1px solid var(--back-three);
}
#navbar > * {
  display: flex;
}

/* NAVBAR NAV-MID */
#navbar #nav-mid {
  height: 100%;
}

#nav-mid li {
  height: 100%;
  display: flex;
  align-items: center;
}
#nav-mid li:not(:last-child) {
  margin-right: 2px;
}

/* NAVBAR NAV-RIGHT*/

#nav-right > * {
  margin-right: 20px;
}

/* NAVBAR NAV-LEFT */

#nav-left > * {
  margin-left: 20px;
}

/* SVG */

.svg-img {
  width: 100%;
}

.btn .svg-img {
  height: 65%;
  width: auto;
}

.svg-color-primary {
  /* #B8BBBF */
  filter: invert(83%) sepia(6%) saturate(168%) hue-rotate(175deg)
    brightness(91%) contrast(88%);
}

.svg-color-secondary {
  /* #2d88ff */
  filter: invert(46%) sepia(54%) saturate(4043%) hue-rotate(199deg)
    brightness(102%) contrast(100%);
}

/* CARD TAPPING */

.no-open {
  transition: all 0.3s;
  border-bottom: 4px solid transparent;
}

.no-open:hover {
  background-color: var(--back-three);
}

.open {
  border-bottom: 4px solid #2d88ff;
  border-radius: 0;
}

/* SEARCH INPUT */

#search {
  background-color: var(--back-three);
  border-radius: 20px;
  padding: 10px;
  outline: 0;
}

#search-input {
  margin-left: 5px;
  background-color: transparent;
  outline: 0;
  color: var(--white-font);
}

/* SCROLL */

.scroll-option {
  overflow: hidden;
  width: 100%;
}

.scroll-option:hover {
  overflow: auto;
}

.scroll-option::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.scroll-option::-webkit-scrollbar-thumb {
  background: #b8bbbf;
  border-radius: 15px;
}
.scroll-option::-webkit-scrollbar-thumb:hover {
  background: #b8bbbf;
}
.scroll-option::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 0;
  box-shadow: inset 7px 10px 12px rgba(255, 255, 255, 0.2);
}

/* LISTS */

.menu-list:first-child {
  margin-top: 25px;
}

.menu-list > * {
  margin-bottom: 6px;
}

.menu-list li {
  font-size: 0.875rem;
  font-weight: 500;
  padding: 10px;
  border-radius: 15px;
  height: 15%;
  width: 98%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.menu-list li:hover {
  background-color: var(--back-three);
}

.menu-list li div {
  margin-right: 5px;
}

/* tittle */

.title-options-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-options {
  font-weight: 500;
  color: var(--white-secondary);
}
/* BUTTONS */

.btn {
  background-color: transparent;
  cursor: pointer;
  position: relative;
  border: none;
}

.nav-mid-btn {
  height: 88%;
  width: 100px;
  border-radius: 3px;
}

.small-top-number {
  position: absolute;
  color: var(--white-font);
  background-color: var(--red);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.nav-mid-btn .small-top-number {
  top: 5px;
  right: 20px;
}

.btn-desc {
  position: absolute;
  background-color: rgba(228, 230, 235, 0.4);
  color: var(--back);
  border-radius: 10px;
  font-size: 0.7rem;
  padding: 5px 10px;
  font-weight: 500;
  opacity: 0;
  transition: all 0.5s;
  max-width: 250px;
  min-width: 70px;
}

.nav-mid-btn .btn-desc {
  left: 0;
  right: 0;
  bottom: -70%;
}

.btn:hover .btn-desc {
  opacity: 1;
}

.nav-right-btn {
  background-color: var(--back-three);
  padding: 5px;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.nav-right-btn:hover {
  background-color: #51555a;
}

.nav-right-btn .btn-desc {
  bottom: calc(-70% - 4px);
}

.nav-right-btn .small-top-number {
  top: 0px;
  left: 27px;
}

.btn-blue {
  color: var(--blue);
  background-color: transparent;
  padding: 8px;
  border-radius: 10px;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.btn-blue:hover {
  background-color: var(--back-three);
}

.btn-avatar-nav {
  height: 100%;
  width: auto;
  color: var(--white-font);
  font-weight: 500;
  border-radius: 20px;
  padding: 4px;
  transition: background-color 0.3s;
}

.btn-avatar-nav:hover {
  background-color: #51555a;
}

.btn-avatar-nav img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 8px;
}

/* IMAGES */
.img-rec-container img {
  border-radius: 10px;
}

.left-img {
  width: var(--small-img);
  height: var(--small-img);
  object-fit: cover;
  display: block;
}

.avatar img {
  border-radius: 50%;
}

.avatar {
  display: block;
}

#search .svg-img {
  width: 20px;
}

hr {
  border-top: 1px solid var(--white-secondary);
  width: 92%;
  margin-top: 10px;
  margin-bottom: 10px;
}