/* VARS */
:root {
  --back: #18191a;
  --back-two: #242526;
  --back-three: #3a3b3c;
  --white-font: #e4e6eb;
  --white-secondary: #b8bbbf;
  --blue: #2d88ff;
  --red: #c00209;
  --header-height: 56px;
}

/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  box-sizing: border-box;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: var(--back);
  color: var(--white-font);
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ___________________________________________ */

/* NAVBAR */
#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--back-two);
  height: var(--header-height);
  border-bottom: 1px solid var(--back-three);
}
#navbar > * {
  display: flex;
}

#navbar #nav-mid {
  height: 100%;
  align-items: center;
}

#nav-mid li {
  height: 100%;
  display: flex;
  align-items: center;
}
#nav-mid li:not(:last-child) {
  margin-right: 2px;
}

.btn img {
  height: 65%;
  width: auto;
}

.nav-mid-btn {
  height: 88%;
  width: 100px;
  border-radius: 3px;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}
.nav-mid-btn span {
  position: absolute;
  color: var(--white-font);
  background-color: var(--red);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  top: 5px;
  right: 20px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
}

.no-open {
  transition: all 0.3s;
}

.no-open:hover {
  background-color: var(--back-three);
}

.open {
  border-bottom: 4px solid #2d88ff;
  border-radius: 0;
}

.svg-color-primary {
  /* #B8BBBF */
  filter: invert(83%) sepia(6%) saturate(168%) hue-rotate(175deg)
    brightness(91%) contrast(88%);
}

.svg-color-secondary {
  /* #2d88ff */
  filter: invert(46%) sepia(54%) saturate(4043%) hue-rotate(199deg)
    brightness(102%) contrast(100%);
}
